{% extends '::base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('bundles/almacen/css/bootstrap.min.css') }}" rel="stylesheet"
      type="text/css" />
<link href="{{ asset('bundles/almacen/css/bootstrap-responsive.min.css') }}" rel="stylesheet"
      type="text/css" />
{% endblock %}


{% block javascripts %}
{% javascripts '@AlmacenBundle/Resources/public/js/bootstrap.min.js' output='js/frontend.js' %}
<script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}
{% endblock %}


{% block body %}
<header>
    <nav>
        <ul>
            <li><a href="{{ path('almacen_caja') }}">Caja</a></li>
            <li><a href="{{ path('almacen_categoria') }}">Categorías</a></li>
            <li><a href="{{ path('almacen_seccion') }}">Secciones</a></li>
        </ul>
    </nav>
</header>

{% if app.session.hasFlash('info') %}
    <p class="info">{{ app.session.getFlash('info') }}</p>
{% endif %}

<article>
    {% block article %}{% endblock %}
</article>

{% endblock %}