{% extends '::base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('bundles/frontal/css/bootstrap.min.css') }}" rel="stylesheet"
      type="text/css" />
<link href="{{ asset('bundles/frontal/css/bootstrap-responsive.min.css') }}" rel="stylesheet"
      type="text/css" />
<link href="{{ asset('bundles/frontal/css/frontal.css') }}" rel="stylesheet"
      type="text/css" />
{% endblock %}


{% block javascripts %}
{% javascripts '@FrontalBundle/Resources/public/js/bootstrap.min.js' output='js/frontend.js' %}
<script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}
{% endblock %}


{% block body %}


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">NensQueFem</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active">
                        <a href="">Buscador</a>
                    </li>
                    <li class="">
                        <a href="">Qui som</a>
                    </li>
                    <li class="">
                        <a href="">Contacte</a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

{% if app.session.hasFlash('info') %}
    <p class="info">{{ app.session.getFlash('info') }}</p>
{% endif %}


<article>
    {% block article %}{% endblock %}
</article>

{% endblock %}